/* mobile */
@media only screen and (max-width: 600px) {
  .orders-container {
    width: 90%;
    height: 90vh;
  }

  .group-config-label {
    width: 50%;
  }
}

/* tablet(ish) */
@media only screen and (min-width: 601px) {
  .orders-container {
    width: 80%;
    height: 80vh;
  }

  .group-config-label {
    width: 40%;
  }
}

/* everything else */
@media only screen and (min-width: 801px) {
  .orders-container {
    width: 50%;
  }

  .group-config-label {
    width: 30%;
  }
}

body {
  height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.orders-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 252, 235, 0.4);
  background-color: rgba(0, 0, 0, 0.2);
  align-content: flex-start;
}

.orders-container > * {
  flex: 1 100%;
}

.group-config {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.group-config-label {
  text-align: center;
  max-width: 120px;
}

.group-config-size {
  font-weight: bold;
  letter-spacing: 0.1em;
}

.group-config button {
  width: 25px;
  height: 25px;
  background-color: rgba(255, 252, 235, 0.4);
  border: 1px solid rgba(255, 252, 235, 0.6);
  border-radius: 4px;
  color: #fffceb;
  font-weight: bold;
}

.group-config button:hover {
  cursor: pointer;
  background-color: #001b44;
  border: 1px solid rgba(255, 252, 235, 0.6);
}

.orders {
  height: 35%;
  padding-bottom: 1rem;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
}

.orders table {
  width: 100%;
  border-collapse: collapse;
}

.orders table tr {
  text-align: left;
}

.orders table tbody tr {
  font-family: monospace;
  font-weight: 300;
  letter-spacing: 0.1em;
  border-bottom: 1px solid rgba(255, 252, 235, 0.4);
  font-size: 0.9rem;
}

.orders table tbody td {
  width: 33.333%;
  padding: 0.4rem 0;
}

.orders-header th {
  text-align: left;
  width: 33.333%;
}

.orders-header-title {
  text-align: center;
}
