.App {
  text-align: center;
}

.container {
  display: flex;
}

.group-config {
  order: 1;
  width: 300px;
  display: flex;
  height: 40px;
}

.orders {
  height: 240px;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.orders table {
  width: 300px;
}

.orders table tr {
  text-align: left;
}

.orders table .price {
  width: 100px;
}

.orders table .size {
  width: 100px;
}

.orders table .total {
  width: 100px;
}

.bids {
  order: 0;
  background-color: green;
}

.asks {
  order: 2;
  background-color: red;
}
